@model IEnumerable<TaskWebApplication.Models.SubTaska>

@{
  ViewBag.Title = "Index";
}

<h2>Sub-Taskas Index</h2>

<p>
  @Html.ActionLink("Create New", "Create")
</p>
<p>
  @Html.ActionLink("Go to Taskas", "Index", new { controller = "Taskas" }) |
  @Html.ActionLink("Go to Jobs", "Index", new { controller = "Jobs" })
</p>


<div id="content">

  <table class="table" id="diagnosis_list">
    <thead>
      <tr>
        <th style="display:none;">Priority</th>
        <th>
          @Html.DisplayNameFor(model => model.ParentTaska.Description)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Command)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.ErrorMessage)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.order)
        </th>
      </tr>
    </thead>
    <tbody>

    @foreach (var item in Model)
    {
      string color = item.Status.ToString() == "ERROR" ? "#F88" :
        item.Status.ToString() == "SUCCESS" ? "#8F8" : null;
      <tr>
        <td style="display: none;" class='priority'>
          @Html.DisplayFor(modelItem => item.order)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.ParentTaska.Description)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
          @if (item.Command != null)
          {
            @Html.ActionLink(@Html.DisplayFor(modelItem => item.Command).ToString(),
              "Index", new {controller = "Parameters", id = item.TaskaId})
          }
        </td>
        <td>
          @if (item.ErrorMessage != "")
          {
            <pre>
              @Html.DisplayFor(modelItem => item.ErrorMessage)
          </pre>
          }
        </td>
        <td style="background-color: @color">
          @Html.DisplayFor(modelItem => item.Status)
        </td>

        <td class='order'>
          @Html.DisplayFor(modelItem => item.order)
        </td>

        <td>
          @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
          @Html.ActionLink("Details", "Details", new {id = item.Id}) |
          @Html.ActionLink("Delete", "Delete", new {id = item.Id}) |
          @Html.ActionLink("Add New", "Create", new {controller = "SubTaskas", item.TaskaId})
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>


<!-- Bootstrap CSS
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"/>
-->

<!-- jQuery
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
-->

<!-- jQuery UI CSS
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
-->


<!-- jQuery -->
@Scripts.Render("~/bundles/jquery-3")
<!-- jQuery-ui -->
@Scripts.Render("~/bundles/jquery-ui")


<script type="text/javascript">
  $(document).ready(function () {

    //Helper function to keep table row from collapsing when being sorted
    var fixHelperModified = function(e, tr) {
      var $originals = tr.children();
      var $helper = tr.clone();
      $helper.children().each(function(index) {
        $(this).width($originals.eq(index).width());
      });
      return $helper;
    };

    //Make diagnosis table sortable
    if (@ViewBag.taskaId != null)
      $("#diagnosis_list tbody").sortable({
        helper: fixHelperModified,
        stop: function(event, ui) { renumber_table('#diagnosis_list') }
      }).disableSelection();

    //Delete button in table rows
    $('table').on('click', '.btn-delete', function() {
      var tableID = '#' + $(this).closest('table').attr('id');
      var r = confirm('Delete this item?');
      if (r) {
        $(this).closest('tr').remove();
        renumber_table(tableID);
      }
    });

  });

  //Renumber table rows
  function renumber_table(tableID) {
    $(tableID + " tr").each(function() {
      var count = $(this).parent().children().index($(this)) + 1;
      $(this).find('.priority').html(count);
    });
    var index_mapping = get_indexes_mapping(tableID);
    update_model(index_mapping);
  }

  function get_indexes_mapping(tableID) {
    index_mapping = {};
    $(tableID + " tbody tr").each(function () {
      var priority = $(this).find('td.priority').text().trim();
      var order = $(this).find('td.order').text().trim();
      index_mapping[order] = priority;
      $(this).find('td.order').text(priority);
    });
    return index_mapping;
  }

  function update_model(index_mapping) {
    var outdata = JSON.stringify({'taskaId':"@ViewBag.taskaId", 'mapping': index_mapping });
    var ajax_settings = {
      url: '@Url.Action("UpdateModelOrder")',
      type: "POST",
      dataType: "json",
      contentType: "application/json",
      data: outdata,
      success: function (returneddata) {
        if (returneddata !== 'ok')
          alert(returneddata);
      },
      error: function (xhr, status, error) {
        alert("Error: in ajax request: " + xhr + "\n" + status + "\n" + error);
      }
    }
    $.ajax(ajax_settings);
  }

</script>


<style type="text/css">
  .ui-sortable tr {
    cursor: pointer;
  }

    .ui-sortable tr:hover {
      background: rgba(200,150,250,0.45);
    }
</style>


